#navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }
  
  
  /* DEMO example styles for logo image */
  #navbar-brand {
    padding: 0px;
  }
  #navbar-brand>img {
    height: 100%;
    width: auto;
    padding: 7px 14px;
  }