#dropdown, #button{
    padding: 0em;
    width: auto;
    align-content: center;
}

#searchInput{
    width: auto;
    padding:0em;
    
}

FormGroup{
    position: relative;
}

Row{
    padding: 0em;
    margin: auto;
    position: relative;
}

